@import "../styles/mixins";

$padding: 20px;

.component {
  height: 100%;
  background: $theme_black_color;
  border-radius: 10px;
  //padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  @include mobile {
    margin-top: 0;
  }
}
.newComponent {
  height: 100%;
  background: $theme_black_color;
  border-radius: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mobile {
    margin-top: 0;
  }
}

.header {
  @include desktop {
    @include flex(space-between);
  }

  padding: $padding;
  padding-top: 22px;
  padding-bottom: 26px;

  // @media (min-width: 1155px) {
  //   display: block;
  //   position: relative;
  // }

  @media (min-width: 709px) and (max-width: 1454px) {
    display: block;
  }
}
.newHeader {
  @include desktop {
    @include flex(space-between);
  }

  padding-top: 22px;
  padding-left: 8px;
  padding-right: 8px;

  // @media (min-width: 1155px) {
  //   display: block;
  //   position: relative;
  // }

  @media (min-width: 709px) and (max-width: 1454px) {
    display: block;
  }
}

.subHeader {
  // @include flex(space-between);
}

.onlyDesktop {
  @include mobile {
    display: none !important;
  }
}

.onlyCustomDesktop {
//  height: 518px;
  @include customMobile {
    display: none !important;
  }

  @media (min-width: 709px) and (max-width: 1454px) {
    display: none;
  }
}

.chartMode {
  @media (max-width: 1404px) and (min-width: 1455px) {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

.onlyCustomPad {
  display: none;

  @media (min-width: 1170px) and (max-width: 1454px) {
    display: block;
  }
}

.onlyMobile {
  @include desktop {
    display: none !important;
  }
}

.onlyCustomMobile {
  @include customDesktop {
    display: none !important;
  }
}

.token {
  @include flex(flex-start);
  font-size: 16px;
  font-weight: 700;

  @media (min-width: 709px) and (max-width: 1454px) {
    justify-content: space-between;
  }
}

.symbol {
  color: $battleship;
  margin-right: 5px;
}

.price {
  margin-left: 5px;
}

.ranges {
  background-color: rgba(45, 45, 45, 0.5);
  padding: 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: row wrap;
  padding-left: unset !important;
  @include mobile {
    margin-top: 10px;
  }

  .button:not(:first-child) {
    margin-left: 10px;
  }

  @media (min-width: 992px) and (max-width: 1050px) {
    .button:not(:first-child) {
      margin-left: 2px;
    }
  }

  @media (max-width: 1454px) and (min-width: 1155px) {
    margin-top: 5px;
  }
}

.button {
  @include transition;

  border-style: solid;
  font-size: 11px;
  font-weight: 500;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  margin: 3px;

  &.active {
    background-color: $theme_black_color;
    border-color: white;
    color: white;
  }

  // @media (max-width: 1515px) and (min-width: 991px) {
  //   &[data-type="desktop"] {
  //     display: none;
  //   }
  // }
}

.description {
  padding: $padding;
  padding-top: 0;
}

.removeTop {
  margin-top: -10px;
}
.ml {
  // margin-left: 200px;
  @include mobile {
    margin-left: 32px;
    margin-left: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mr {
  margin-right: 20px;
}
.headerChartLeft {
  display: flex;
}
.container {
  position: relative;
  @include mobile {
    margin: 12px;
  }
}
.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.zIndex {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  label {
    color: #bbbbbb;
    margin-top: 20px;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
  }
}
.backgroundSection {
  background: $theme_black_color;
  border-radius: 20px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: blur(4px);
  @include mobile {
    margin-top: 0px;
  }
}
.progress {
  color: #01cdfd;
}

.chartContainer {
  margin-bottom: 3px;
  position: relative !important;
  .innerChart {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .comingSoon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include desktop {
      height: 512px;
    }
    @include mobile {
      height: 420px;
    }
    h2 {
      display: flex;
      font-size: 15px;
      //text-align: center;
    }
    img {
      object-fit: contain;
      width: inherit;
    }
  }
}

.PlaceHolder {
  background: linear-gradient(
    90deg,
    rgba(53, 56, 62, 0.6) -24.18%,
    rgba(75, 79, 88, 0.6) 50.26%,
    rgba(52, 54, 61, 0.6) 114.84%
  );
  opacity: 0.4;
  border-radius: 6px;
  padding: 20px 90px !important;
  @include mobile{
    padding-left: 12px !important;
  }
}
.placeRight {
  position: absolute;
  right: 15px;
  top: 10px;
}
.placeLeft {
  position: absolute;
  top: 10px;
  left: 15px;
}
.text {
  position: absolute;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  @include mobile{
    font-size: 14px;
  }
}
