.dFlexCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.dFlex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  span {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
  }
}
